:root {
  --color1: #c00;
  --color2: black;
  --color3: pink;
  --color4: orange;
}
html {
  background: var(--color2);
  color: var(--color1);
  font-family: Roboto;
  text-align: center;
}
#link-protected-room {
  color: transparent;
  right: 0;
  top: 0;
  cursor:not-allowed;
}

/* C&P into style_light */
/* .about_body{background:orange;
padding:5px;
margin-top:3px;
border-radius:20px;} */

/* Password Page */
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#dialogWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  background-color: black;
}

#dialogWrapCell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#mainDialog {
  max-width: 400px;
  margin: 5px;
  border: solid black 1px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 3px black;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  overflow: hidden;
  text-align: left;
}
#passArea {
  padding: 20px 30px;
  background-color: black;
}
#passArea > * {
  margin: 5px auto;
}
#pass {
  width: 100%;
  height: 40px;
  font-size: 30px;
  background: black;
  border: solid #c00 1px;
  padding: 10px;
  color: red;
  border-radius: 25px;
      outline: none;

}

#messageWrapper {
  float: left;
  vertical-align: middle;
  line-height: 30px;
}

.notifyText {
  display: none;
}

#invalidPass {
  color: #c00;
}

#success {
  color: green;
}

#submitPass {
  font-size: 20px;
  border-radius: 5px;
  color: #c00;
  background: black;
    outline: none;
  float: right;
  border:1px solid red;
}
#contentFrame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 0.8em;
}
#attribution,
#attribution a {
  color: #999;
}
.passwordbutton{background:black;
color:white;
padding:10px;
  border-radius:25px;
margin:40px;
  font-size: 5rem;
border: red solid 1px;
    outline: none;
}