html {
  /*   -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
  height: 200vh;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
select,
input {
  background: none;
  color: black;
  outline: none;
  border: 0px;
  border-bottom: 1px solid black;
}
button {
  background: white;
  color: black;
  outline: none;
  border-radius: 0px;
  border: 1px solid black;
}
button:hover {
  background: black;
  color: white;
  outline: none;
  border-radius: 0px;
  border: 1px solid black;
}
xmp {
  display: inline;
  background: #c8ccd0;
  color: black;
  padding: 10px;
  border-radius: 5px;
}
#planConfirmation {
  color: #c00;
}
/* Custom Alert and Prompt */
#customAlert {
  position: fixed;
  text-align: center;
  background: white;
  border: 1px solid black;
  width: 500px;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  right: 50%;
  margin-left: -250px;
  border-radius: 20px;
  display: none;
  margin-top: 15% auto;
  padding: 20px;
/*   cursor: move; */
  z-index: 10;
}
#customAlert h1 {
  margin: 0px;
}
#alertOK {
  width: 80%;
  padding: 10px;
  margin: 10px;
}
#background {
  width: 100%;
  height: 100vh;
  margin:0px;
  left:0px;
  top:0px;
   opacity: 0.87;
  position: fixed;
  background: black;
  display:none;
}
/* #customPrompt button {
  width: 50%;
}
#customPrompt input {
  width: 100%;
  text-align: center;
} */
